<% provide(:title, @post.title  ) %>
<div class="container postview">
  <p id="notice"><%= notice %></p>
	
	<div class="post-show text-center">
		<div class="post-title">
			<p class="font15"><i class="far fa-calendar"></i> <%= @post.created_at.strftime('%Y/%m/%d') %></p>
			<strong><%= @post.title %></strong><br />
		</div>
		<div class="post-body">
			<p><%= @post.content %></p><br />
			<p><i class="fas fa-user"></i> <%= @post.user.username %></p>
		</div>
		<div class="post-footing font15">
			<%if  @post.user_id == current_user.id %>
	  			<%= link_to '編集', edit_post_path(@post), class: 'post-menu' %> |
    			<%= link_to '削除', @post, method: :delete , data: { confirm: '削除してもよろしいですか？' }, class: 'post-menu' %> 
    		<% end %>
		</div>
		
		<div class="post-comment">
			<h3>コメント</h3>
			<% if  @post.comments.present? %>
				<% @comments.each do |comment| %>
					<div class="border-bottom"></div><br />
        	<p><i class="fas fa-user"></i> <%= comment.user.username %> <%= time_ago_in_words(comment.created_at) %>前</p>
        	<p class="comment"><%= comment.comment %></p>
    		<% end %>
			<% else %>
				<div class="border-bottom" ></div><br />
				<p style="margin: 50px 0;" >コメントはありません</p>
			<% end %>
			<h3>コメントを書く</h3>
			<div class="">
				<%= form_for [@post, @comment] do |f| %>
  					<%= f.text_area :comment, class: "comment-form"%><br />
  					<%= f.submit '送信', class: "btn-sm btn-primary" %>
				<% end %>
			</div>
		</div>
		<%= link_to 'back', posts_path, class: 'font20' %>
  	</div>    
</div>